<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Packages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
<ion-item>
  <ion-searchbar [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
&nbsp;	<span style="color:#969bb5;">({{ packageList.length}})</span>
</ion-item>

  </div>
      <ion-grid *ngIf="isLoading">
        <ion-row>
          <ion-col>&nbsp;</ion-col>
          <ion-col>
            <div style="text-align: center">

              <ion-spinner   name="circles" color="primary"></ion-spinner>
            </div>
          </ion-col>
          <ion-col>&nbsp;</ion-col>
        </ion-row>
      </ion-grid>


      <div *ngIf="!isLoading">
        <ion-list>
          <ion-item
            button
            (click)="testClick()"
            *ngFor="let package of packageList  | filter:filterTerm">
            <ion-thumbnail slot="start">
              <img src="{{package.img}}" />
            </ion-thumbnail>
            <ion-label>

              <h2>Destination: {{package.receiverAddr}}</h2>
              <p>Pickup: {{package.senderAddr}} &nbsp;<i class="navigate-outline"></i>&nbsp;{{package.miles}} miles away</p>
              <p>Icon on right</p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-button expand="block" (click)="save2()">Save</ion-button>
        <ion-button expand="block" (click)="retrieveList()">Get List</ion-button>
        <ion-button expand="block" (click)="addToList()">Add</ion-button>
        <ion-button
          expand="block"
          (click)="removeFromList('VabvPWKvWGkufWHrIVeBszAS')"
          >Remove</ion-button>
        <ion-button
          expand="block"
          (click)="getItemFromList('VabvPWKvWGkufWHrIVeBszAS')"
          >Get Item Details</ion-button
        >
      </div>



      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="gotoaddpage()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
