<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Packages</ion-title>
    <ion-buttons *ngIf="ethAddress==='none'" slot="secondary">
      Connect&nbsp;
      <button ion-button outline block large color="primary" style= "border-radius: 30px; background-color:#427feb;color:white"(click)="walletConnect()">&nbsp;<ion-icon name="wallet" style="font-size: 2rem"></ion-icon></button>
    </ion-buttons>

    <ion-buttons *ngIf="ethAddress!=='none'" slot="secondary">
      <ion-button ion-button block large  style= "border-radius: 30px; background-color:rgb(239, 244, 245);color:#427feb; font-size:15px"(click)="walletDisconnect()">&nbsp;{{ethAddressDisplay }}</ion-button>&nbsp;&nbsp;&nbsp;
      <ion-button ion-button outline   (click)="presentPopover($event)">&nbsp;<i class="fas fa-balance-scale fa-2x"></i></ion-button>&nbsp;&nbsp;&nbsp;

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-searchbar [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  &nbsp;	<span style="color:#969bb5;">({{ packageList.length}})</span>
  </ion-item>
  <div style="text-align: center;">
    <small>Featured Packages</small>
  </div>
  <p></p>


  <button (click)="swipePrev()" class="backBtn">

    <i (click)="swipePrev()"  class="fas fa-caret-left fa-2x">  </i>
  </button>

  <button  (click)="swipeNext()" class="nextBtn">
    <i (click)="swipeNext()" class="fas fa-caret-right fa-2x"></i>
 </button>


  <ion-slides pager="true" [options]="slideOpts" #mySlider>
    <ion-slide>
      <ion-card>



        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-thumbnail slot="start">
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT51-cROxgwLTs6Qn2FT-t6W7UogsXn6YDXpi6V7e79AnJSiS89GkS4UpcwBKuzOhdXNF0&usqp=CAU" />
          </ion-thumbnail>
          <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
        ion-item in a card, icon left, button right


          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          This is content, without any paragraph or header tags,

        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>



        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-thumbnail slot="start">
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBGtzkvAO7gaElHV2fiVoluntYc2bh4Np0Kg&usqp=CAU" />
          </ion-thumbnail>
          <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
        ion-item in a card, icon left, button right


          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          This is content, without any paragraph or header tags,

        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>

      <ion-card>



        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-thumbnail slot="start">
            <img  src="https://norpakke.no/wp-content/uploads/2020/07/packages.jpg" />
          </ion-thumbnail>
          <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
        ion-item in a card, icon left, button right


          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          This is content, without any paragraph or header tags,

        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>



        <ion-item>
          <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
          <ion-thumbnail slot="start">
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaG0JBD2eVzdQczxYR1pSyH6hSWWCX-zg58BszvP8l-uUo8bOP2-UX2VHO8EmoxVLw4XA&usqp=CAU" />
          </ion-thumbnail>
          <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
        ion-item in a card, icon left, button right


          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          This is content, without any paragraph or header tags,

        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div>


  </div>
      <ion-grid *ngIf="isLoading">
        <ion-row>
          <ion-col>&nbsp;</ion-col>
          <ion-col>
            <div style="text-align: center">

              <ion-spinner   name="circles" color="primary"></ion-spinner>
            </div>
          </ion-col>
          <ion-col>&nbsp;</ion-col>
        </ion-row>
      </ion-grid>


      <div *ngIf="!isLoading">
        <ion-list>
          <ion-item
            button
            (click)="testClick()"
            *ngFor="let package of packageList  | filter:filterTerm">
            <ion-thumbnail slot="start">
              <img src="{{package.img}}" />
            </ion-thumbnail>
            <ion-label>

              <h2>Destination: {{package.receiverAddr}}</h2>
              <p>Pickup: {{package.senderAddr}} &nbsp;<i class="navigate-outline"></i>&nbsp;{{package.miles}} miles away</p>
              <p>Icon on right</p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>


        <ion-button
          expand="block"
          (click)="removeFromList('VabvPWKvWGkufWHrIVeBszAS')"
          >Remove</ion-button>
        <ion-button
          expand="block"
          (click)="getItemFromList('VabvPWKvWGkufWHrIVeBszAS')"
          >Get Item Details</ion-button
        >
      </div>



      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="gotoaddpage()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>
