.backBtn{
  position: absolute;
  left: 5vw;
  top: 7vh;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: none;
  background: white;

}

.nextBtn{
  position: absolute;
  right: 5vw;
  top: 7vh;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: none;
  background: white;

}
