<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">&nbsp;
      <ion-button (click)="goback()">
        <ion-icon  name="chevron-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Package Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-card>
        <ion-item>


            <img  src="{{pkgdetails.img}}"/>



        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>{{pkgdetails.receiverAddr}}</ion-card-title>

        </ion-card-header>

 <ion-card-content>

  <ion-row >
    <ion-col>
      <ion-button *ngIf="pkgdetails.status === 'Ready' && pkgdetails.creator != this.email"  fill="outline"> <i class="far fa-check-circle"></i> &nbsp;Pickup</ion-button>
    </ion-col>
    <ion-col>
        <span style="color: tomato;">
          <i class="fas fa-map-marked-alt fa-2x"></i> </span> &nbsp;{{pkgdetails.miles}} miles
    </ion-col>

    <ion-col>
      <span style="color : blue;"> <i class="fas fa-cubes fa-2x"></i></span> &nbsp;Blockhain Transactions
      <ion-row *ngIf='pkgdetails.listTxnHash'>  &nbsp;  &nbsp;  &nbsp; - <a [href]='getListingUrl(pkgdetails.listTxnHash)'>View Txn for Listing </a></ion-row>
      <ion-row *ngIf='pkgdetails.pickupHash'>  &nbsp;  &nbsp;  &nbsp; - <a [href]='getListingUrl(pkgdetails.pickupHash)'> View Txn for Pick up </a></ion-row>
      <ion-row *ngIf='pkgdetails.deliveryHash'>  &nbsp;  &nbsp;  &nbsp; - <a [href]='getListingUrl(pkgdetails.deliveryHash)'> View Txn for Delivery</a></ion-row>



  </ion-col>

  </ion-row>

        </ion-card-content>
      </ion-card>




    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pickup Location</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content *ngIf="pkgdetails">

        <ion-item>
          <ion-label> Address * </ion-label>
          <ion-label> {{pkgdetails.senderAddr}} </ion-label>

        </ion-item>


        <ion-item>
          <ion-label > Phone *</ion-label>
          <ion-label> {{pkgdetails.senderPhone}} </ion-label>
        </ion-item>


        <ion-item>
          <ion-label> Email *</ion-label>
          <ion-label> {{pkgdetails.creator}} </ion-label>
        </ion-item>


      </ion-card-content>
    </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Drop off info</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content *ngIf="pkgdetails">

    <ion-item>
      <ion-label> Address * </ion-label>
      <ion-label> {{pkgdetails.receiverAddr}} </ion-label>

    </ion-item>


    <ion-item>
      <ion-label > Phone *</ion-label>
      <ion-label> {{pkgdetails.receiverPhone}} </ion-label>
    </ion-item>


    <ion-item>
      <ion-label > Email *</ion-label>
      <ion-label> {{pkgdetails.receiverEmail}} </ion-label>
    </ion-item>


  </ion-card-content>
</ion-card>


<ion-card>


  <ion-card-header>
    <ion-card-subtitle>Instructions</ion-card-subtitle>

  </ion-card-header>

  <ion-item>
    <ion-label>Signature on delivery required?</ion-label>
    <ion-label> {{pkgdetails.delivery ? 'Yes' : 'No'}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Is Package fragile?</ion-label>
    <ion-label> {{pkgdetails.fragile ? 'Yes' : 'No'}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label >Additional notes</ion-label>
    <ion-label> {{pkgdetails.instructions}} </ion-label>
  </ion-item>
  <ion-card-content>
</ion-card-content>
</ion-card>



<ion-card>


  <ion-card-header>
    <ion-card-subtitle>Choose cost & speed</ion-card-subtitle>

  </ion-card-header>

  <ion-item>
    <ion-label>Delivery Payout:</ion-label>
    <ion-label> {{pkgdetails.gems}} <ion-icon name="diamond-outline"></ion-icon></ion-label>
  </ion-item>

  <ion-card-content>
</ion-card-content>
</ion-card>

<div style="text-align: center">

  <ion-button shape="round" fill="outline" (click)="goback()">Cancel
    <ion-icon slot="start" name="close-outline"  id="submitButton" ></ion-icon>
  </ion-button>
  <ion-button *ngIf="pkgdetails.status === 'Ready' && pkgdetails.creator != this.email" shape="round" (click)="presentAlertConfirm(pkgdetails,'pickup')">
    <i class="far fa-check-circle"></i> &nbsp;   Pickup
  </ion-button>

  <ion-button *ngIf="pkgdetails.status === 'In Transit' && pkgdetails.creator === this.email" shape="round" (click)="presentAlertConfirm(pkgdetails,'confirm')">
    <i class="far fa-check-circle"></i> &nbsp;   Confirm Delivery
  </ion-button>


</div>


</ion-content>
