
<ion-content>


  <ion-card>
    <ion-card-header>

      <ion-card-subtitle><strong>Ethereum Network Balances</strong></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-spinner  *ngIf="gettingBalances" name="circles" color="primary"></ion-spinner>
      <span *ngIf="!gettingBalances" >
      <!-- <ion-row  *ngFor='let token of ethBalances '> -->
      <ion-row  *ngIf='ethBalances'>
        <ion-col>{{format(ethBalances.balance) | number:'1.1-5'}}</ion-col>
        <ion-col>{{ethBalances.symbol || 'ERC20'}}</ion-col>
    </ion-row>
  </span>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <ion-card-subtitle><strong>Polygon Network Balances</strong></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-spinner  *ngIf="gettingBalances" name="circles" color="primary"></ion-spinner>
      <span *ngIf="!gettingBalances" >
      <ion-row  *ngFor='let token of maticBalances '>
        <ion-col>{{format(token.balance) | number:'1.1-5'}}</ion-col>
        <ion-col>{{token.symbol || 'ERC20'}}</ion-col>
    </ion-row>
  </span>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-subtitle><strong>Binance Network Balances</strong></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-spinner  *ngIf="gettingBalances" name="circles" color="primary"></ion-spinner>
      <span *ngIf="!gettingBalances" >

        <!-- <ion-row *ngFor='let token of bnbBalances '> -->
        <ion-row *ngIf='bnbBalances '>
          <ion-col>{{format(bnbBalances.balance) | number:'1.1-5'}}</ion-col>
          <ion-col>{{bnbBalances.symbol || 'ERC20'}}</ion-col>
        </ion-row>
      </span>
    </ion-card-content>
  </ion-card>



</ion-content>
